<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SliderMenuWithCustomView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A85C147A1C226353008DE6C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A85C14931C226353008DE6C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A85C149E1C226353008DE6C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
